.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: $sidebar-width;
  background: $bg-color;
  z-index: 100;
  transition: all $transition-time ease;

  &.close {
    width: $sidebar-width-closed !important;
  }

  .logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;

    i {
      font-size: 30px;
      color: $text-color;
      height: 50px;
      min-width: $sidebar-width-closed;
      text-align: center;
      line-height: 50px;
    }

    .logo_name {
      font-size: 22px;
      color: $text-color;
      font-weight: 600;
      transition: 0.3s ease;
      transition-delay: 0.1s;
    }
  }

  &.close .logo-details .logo_name {
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
  }

  .nav-links {
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    li {
      position: relative;
      list-style: none;
      transition: all 0.4s ease;

      &:hover {
        background: $sidebar-bg-color;
      }

      .iocn-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      i {
        height: 50px;
        min-width: $sidebar-width-closed;
        text-align: center;
        line-height: 50px;
        color: $text-color;
        font-size: 20px;
        cursor: pointer;
        transition: all 0.3s ease;
      }

      &.showMenu i.arrow {
        transform: rotate(-180deg);
      }

      a {
        display: flex;
        align-items: center;
        text-decoration: none;

        .link_name {
          font-size: $font-size-large;
          font-weight: 400;
          color: $text-color;
          transition: all 0.4s ease;
        }
      }

      .sub-menu {
        padding: 6px 6px 14px 80px;
        margin-top: -10px;
        background: $sidebar-bg-color;
        display: none;

        a {
          color: $text-color;
          font-size: 15px;
          padding: 5px 0;
          white-space: nowrap;
          opacity: 0.6;
          transition: all 0.3s ease;

          &:hover {
            opacity: 1;
          }
        }

        .link_name {
          display: none;
        }
      }

      &.showMenu .sub-menu {
        display: block;
      }

      .sub-menu.blank {
        opacity: 1;
        pointer-events: auto;
        padding: 3px 20px 6px 16px;
        opacity: 0;
        pointer-events: none;
      }

      &:hover .sub-menu.blank {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &.close .nav-links {
    overflow: visible;

    li {
      .iocn-link {
        display: block;
      }

      i.arrow {
        display: none;
      }

      a .link_name {
        opacity: 0;
        pointer-events: none;
      }

      .sub-menu {
        position: absolute;
        left: 100%;
        top: -10px;
        margin-top: 0;
        padding: 10px 20px;
        border-radius: 0 6px 6px 0;
        opacity: 0;
        display: block;
        pointer-events: none;
        transition: 0s;

        .link_name {
          font-size: $font-size-large;
          opacity: 1;
          display: block;
        }
      }

      &:hover .sub-menu {
        top: 0;
        opacity: 1;
        pointer-events: auto;
        transition: all 0.4s ease;
      }
    }
  }

  .profile-details {
    position: fixed;
    bottom: 0;
    width: $sidebar-width;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $sidebar-bg-color;
    padding: 12px 0;
    transition: all $transition-time ease;

    .profile-content {
      display: flex;
      align-items: center;
    }

    img {
      height: $profile-img-size;
      width: $profile-img-size;
      object-fit: cover;
      border-radius: 16px;
      margin: 0 14px 0 12px;
      background: $sidebar-bg-color;
      transition: all $transition-time ease;
    }

    .profile_name,
    .job {
      color: $text-color;
      font-size: $font-size-large;
      font-weight: 500;
      white-space: nowrap;
    }

    .job {
      font-size: $font-size-small;
    }
  }

  &.close .profile-details {
    background: none;
    width: $sidebar-width-closed;

    img {
      padding: 10px;
    }

    i,
    .profile_name,
    .job {
      display: none;
    }
  }
}

.main-panel {
  position: relative;
  background: #e4e9f7;
  height: 100vh;
  left: $sidebar-width;
  width: calc(100% - $sidebar-width);
  transition: all $transition-time ease;
  padding: $padding-main-panel;

  .home-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .bx-menu,
    .text {
      color: $bg-color;
      font-size: 35px;
    }

    .bx-menu {
      cursor: pointer;
      margin-right: 10px;
    }

    .text {
      font-size: 26px;
      font-weight: 600;
    }
  }
}

.sidebar.close ~ .main-panel {
  left: $sidebar-width-closed;
  width: calc(100% - $sidebar-width-closed);
}

@media screen and (max-width: 400px) {
  .sidebar {
    width: 240px;
  }

  .sidebar.close {
    width: $sidebar-width-closed;
  }

  .profile-details {
    width: 240px;
  }

  .sidebar.close .profile-details {
    background: none;
    width: $sidebar-width-closed;
  }

  .main-panel {
    left: 240px;
    width: calc(100% - 240px);
  }

  .sidebar.close ~ .main-panel {
    left: $sidebar-width-closed;
    width: calc(100% - $sidebar-width-closed);
  }
}
