$font-family: 'Poppins', sans-serif;

$bg-color: #11101d;
$sidebar-bg-color: #1d1b31;

$text-color: #fff;

$font-size-large: 18px;
$font-size-small: 12px;

$transition-time: 0.5s;

$sidebar-width: 260px;
$sidebar-width-closed: 78px;

$profile-img-size: 52px;

$padding-main-panel: 12px;