<div class="">
  <div class="logo-details">
    <i class='bx bxl-c-plus-plus'></i>
    <span class="logo_name">Portal</span>
  </div>
  <ul class="nav-links">
    <li *ngFor="let menuItem of menuItems">
      <div class="iocn-link">
        <a href="#">
          <i [ngClass]="menuItem.icon"></i>
          <span class="link_name" href="#">{{menuItem.title}}</span>
        </a>
        <i class='bx bxs-chevron-down arrow' *ngIf="menuItem.sub != null"></i>
      </div>
      <ul class="sub-menu blank" *ngIf="menuItem.sub == null; else tempSubMenu">
        <li><a class="link_name" href="#">{{menuItem.title}}</a></li>
      </ul>
      <ng-template #tempSubMenu>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">{{menuItem.title}}</a></li>
          <li *ngFor="let subMenu of menuItem.sub">
            <a href="#">{{subMenu.title}}</a>
          </li>
        </ul>
      </ng-template>
    </li>
    <li>
      <div class="profile-details">
        <div class="profile-content">
          <img src="images/logo.png" alt="profileImg">
        </div>
        <div class="name-job">
          <div class="profile_name">ContentDB</div>
          <div class="job">Web Designer</div>
        </div>
        <i class='bx bx-log-out'></i>
      </div>
    </li>
  </ul>
</div>
